<!DOCTYPE html> 
<html> 
  
<head> 
  <title><%=data.name%></title> 
      
  <style type="text/css" media="screen"> 
    body { 
      background-color: skyblue; 
      text-decoration-color: white; 
      font-size:4em;  
    } 

		table, th, td {
  		border: 1px solid black;
		}
  </style> 

	<script>
		
	</script>

</head> 
  
<body> 
  <center><b><%=data.name%></b></center> 

	<table>
		<tr>
			<th>Player Count</th>
			<th>MOTD</th>
			<th>Last Online</th>
		</tr>
		<tr>
			<td><%=data.playerCount%>/<%=data.maxPlayers%></td>
			<td><%=data.motd%></td>
			<td><%=date%></td>
		</tr>
	</table>

</body> 

<h2><center>Plugins</center></h2>

<ul>
  <% plugins.forEach(plugin => { %>
    <li> <%=plugin%> </li>
  <% }) %>
</ul>
  
</html> 